@using SuperDevCommunity.Helpers

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MainApp.cshtml";
}

<h2>Home</h2>

<!-- New Post -->
<form action="/posts/create" method="POST">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="content">Say Something:</label>
        <textarea class="form-control" id="content" name="content"></textarea>
    </div>

    <button class="btn btn-primary btn-sm float-right" type="submit"><i class="fas fa-paper-plane"></i> Publish</button>
</form>

<!-- Latest Posts -->
<h4 style="margin-top: 25px;">Latest Posts</h4>
@if (ViewBag.Posts.Count > 0)
{
    foreach (SuperDevCommunity.Models.Post post in ViewBag.Posts)
    {
        <div class="post-container" id="@post.id">
            <p>@post.content</p>
            <a class="text-muted float-lg-right" href="/posts/details/@post.id">Read More...</a>
            <div class="row" style="margin-top: 50px;">
                <!-- Post Creator -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <small class="text-muted">By @post.user.username at @post.createdAt.ToShortDateString()</small>
                </div>
                <!-- Like Button -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
                    @if (Html.IsPostLiked(post.id, int.Parse(User.Identity.Name)))
                    {
                        @post.likes <a href="/posts/likepost/@post.id?url=/home#@post.id"><i class="far fa-thumbs-up"></i> Like</a>
                    }
                    else
                    {
                        @post.likes <a href="/posts/unlikepost/@post.id?url=/home#@post.id"><i class="far fa-thumbs-up"></i> Unlike</a>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-primary">
        We don't have posts yet <i class="em-svg em-disappointed_relieved"></i>
    </div>
}