@model SuperDevCommunity.Models.Post
@using SuperDevCommunity.Helpers

@{
    ViewBag.Title = $"{@Model.user.username}'s Post";
    Layout = "~/Views/Shared/MainApp.cshtml";
}

<!-- Post Details -->
<div class="post-container">
    <!-- Post's User-->
    <div class="row align-items-center">
        <!-- User's photo -->
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2">
            <img class="rounded-circle" src="/img/profile_pics/@Model.user.profilePic" style="width: 100%">
        </div>
        <!-- User's Name -->
        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10">
            <a href="/users/profile/@Model.user.id" style="color: #212529"><h4>@Model.user.username</h4></a>
        </div>
    </div>
    <p style="margin-top: 10px;">@Model.content</p>
    <div class="row">
        <!-- Like Button -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
            <a href="" data-toggle="modal" data-target="#likesModal" style="color: #212529">@Model.likes</a> 
            @if (Request.IsAuthenticated)
            {
                if (Html.IsPostLiked(Model.id, int.Parse(User.Identity.Name)))
                {
                    <a href="/posts/likepost/@Model.id?url=/posts/details/@Model.id"><i class="far fa-thumbs-up"></i> Like</a>
                }
                else
                {
                    <a href="/posts/unlikepost/@Model.id?url=/posts/details/@Model.id"><i class="fas fa-thumbs-up"></i> Unlike</a>
                }
            }
            else
            {
                <a href="/posts/likepost/@Model.id?url=/posts/details/@Model.id"><i class="far fa-thumbs-up"></i> Like</a>
            }
        </div>
    </div>
</div>

<!-- Comment form -->
<form action="/comments/create/@Model.id" method="POST" style="margin-top: 25px;">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="content">Comment This:</label>
        <textarea class="form-control" id="content" name="content"></textarea>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <button class="btn btn-primary btn-sm float-right" type="submit"><i class="fas fa-paper-plane"></i> Publish</button>
        </div>
    </div>
</form>

<!-- Post comment's -->
@foreach (SuperDevCommunity.Models.Comment comment in ViewBag.Comments)
{
    <div class="post-container">
        <div class="row align-items-center">
            <!-- User's photo -->
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2">
                <img class="rounded-circle" src="/img/profile_pics/@comment.user.profilePic" style="width: 100%">
            </div>
            <!-- User's Name -->
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-10 col-10">
                <a href="/users/profile/@comment.user.id" style="color: #212529"><h5>@comment.user.username</h5></a>
            </div>
        </div>
        <p style="margin-top: 10px;">@comment.content</p>
        <div class="row">
            <!-- Like Button -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
                @if (Request.IsAuthenticated)
                {
                    if (Html.IsCommentLiked(comment.id, int.Parse(User.Identity.Name)))
                    {
                        @comment.likes <a href="/comments/likecomment/@comment.id?url=/posts/details/@Model.id"><i class="far fa-thumbs-up"></i> Like</a>
                    }
                    else
                    {
                        @comment.likes <a href="/comments/unlikecomment/@comment.id?url=/posts/details/@Model.id"><i class="fas fa-thumbs-up"></i> Unlike</a>
                    }
                }
                else
                {
                    @comment.likes <a href="/comments/likecomment/@comment.id?url=/home#@comment.id"><i class="far fa-thumbs-up"></i> Like</a>
                }
            </div>
        </div>
    </div>
}

@section modals
{
    <div class="modal fade" id="likesModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Likes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (ViewBag.likes.Count > 0)
                    {
                        foreach (SuperDevCommunity.Models.PostLike like in ViewBag.likes)
                        {
                            <div class="row align-items-center" style="margin-top: 10px;">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
                                    <img class="rounded-circle" src="/img/profile_pics/@like.user.profilePic" style="width: 100%;" />
                                </div>
                                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-9">
                                    <a href="/users/profile/@like.user.id" style="color: #212529"><h5>@like.user.username</h5></a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-primary">
                            No oneliked this post yet <i class="em-svg em-disappointed_relieved"></i>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
